@import "@project/styles/global.scss";

$banHeight: 600px;

$ctaPosBot: 40px;

$fr1line1Top:120px;
$fr1line2Top:195px;
$fr1line3Top:280px;

$fr2line1Top:120px;
$fr2line2Top:185px;
$fr2line3Top:240px;

$txtDeg: rotate(-45deg);




.wz-banner {
	background-size:  320px 600px ;
	background:  repeat-y url("jpv-bg-160x600.jpg") 0 0;
}

.coin-fall {
	background-size:  160px 600px ;
	background:  repeat-y url("jpv-coin-160x600.svg") 0 0;
	position: absolute;
	z-index: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}



.fr-f1 {

	&-bg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width:160px ;
		height: 600px;
	}
	&-lines {
		&-l1{
			z-index: 3;
			top: $fr1line1Top;

		}
		&-l2{
			z-index: 4;
			padding: 5px 0;
			top: $fr1line2Top;

		}
		&-l3{
			z-index: 5;
			@extend %center;
			top: $fr1line3Top;

		}
	}

}
.fr-f2 {
	&-slide {
		height: 1200px;
		width: 1200px;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		@include opacityFix(100, 1);
		transform: rotate(45deg);


		&-cube {
			background-color: $acc2-color;
			position: absolute;
			height: 1200px;
			width: 1200px;
			left: -850px;
			@include opacityFix(0, 0);
		}

	}

	&-bg {
		background: #EDBC58 repeat-y url("jpv-bg-160x600.jpg") top right;
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		background-size:  320px $banHeight ;
		top: 0;
		left: 0;
	}
	&-toon {
		background: no-repeat url("jpv-char-160x600.png") bottom center;
		background-size: cover;
		width: 160px;
		height: 258px;
		position: absolute;
		left: 0px;
		bottom: 0;
		display: block;
	}
	&-lines {
		&-l1{
			top: $fr2line1Top;
		}
		&-l2{
			padding: 5px 0;

			top: $fr2line2Top;
		}
		&-l3{
			top: $fr2line3Top;
		}
	}
	&-providers {
		position: absolute;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		bottom: 70px;
		transform: scale(0.8);
		.logo1, .logo2, .logo3 {
			display: flex;
		}
		.logo1 {
			background: no-repeat url("jpv-char-160x600.png")  0 0;
			width: 160px;
			height: 23px;
			background-size: 160px 333px;
		}
		.logo2 {
			background: no-repeat url("jpv-char-160x600.png") 0 -27px;
			width: 160px;
			height: 35px;
			background-size: 160px 360px;
			margin: 4px 0;

		}
		.logo3 {
			background: no-repeat url("jpv-char-160x600.png") 0 -59px;
			width: 160px;
			height: 44px;
			background-size: 160px 360px;

		}
	}
	&-terms{}
}


.cta-btn {
	font-size: 17px;
	max-width: 130px;
	border-radius: 50px;
	padding: 5px 10px;
	bottom: $ctaPosBot;
}


.fr {
	&-f1, &-f2, &-f3, &-f4 {

		&-terms{
			display: block;
			font-size: 10px;
			color: $acc3-color;
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
			margin: 0 auto;
			align-items: center;
			height: auto;
			text-align: center;
			font-weight: normal;
		}
	}
}