@import "@project/styles/global.scss";

$banHeight: 90px;

$ctaPosBot: 30px;

$fr1line1Top:12px;
$fr1line2Top:32px;
$fr1line3Top:58px;

$fr2line1Top:12px;
$fr2line2Top:32px;


$fr3line1Top:12px;
$fr3line2Top:32px;
$fr3line3Top:55px;

$fr4line1Top:12px;
$fr4line2Top:32px;
$fr4line3Top:63px;


.fr-logo {
	display: block;
	width: 120px;
	position: absolute;
	background: no-repeat url("~@images/jpv-logo.svg") center center;
	height: 55px;
	top: 15px;
	left: 65px;
	background-size: contain;
}


.coin-fall {
	background-size:  728px 90px ;
	background: $acc1-color repeat-y url("jpv-bg-728x90.jpg") 0 0;
	position: absolute;
	z-index: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}



.fr-f1 {


	&-lines {
		&-l1{
			z-index: 3;
			top: $fr1line1Top;
		}
		&-l2{
			z-index: 4;
			padding: 5px 0;
			text-shadow: $acc3-color 0 0 5px;
			top: $fr1line2Top;
		}
		&-l3{
			z-index: 5;
			@extend %center;
			top: $fr1line3Top;
		}
	}

}
.fr-f2 {
	&-lines {
		&-l1{
			top: $fr2line1Top;
		}
		&-l2{
			font-weight: bold;
			padding: 5px 0;
			text-shadow: $acc3-color 0 0 5px;
			top: $fr2line2Top;
		}

	}
	&-terms{}
}
.fr-f3 {
	&-lines {
		&-l1{
			top: $fr3line1Top;
		}
		&-l2{
			padding: 5px 0;
			text-shadow: $acc3-color 0 0 5px;
			top: $fr3line2Top;

		}
		&-l3{
			top: $fr3line3Top;
		}
	}
	&-providers {

		position: absolute;
		width: 400px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform: scale(0.9);
		align-items: center;
		.logo1, .logo2, .logo3 {
			display: flex;
		}
		.logo1 {
			background: no-repeat url("jpv-char-728x90.png") -148px -64px;
			width: 124px;
			height: 27px;
			background-size: 355px 90px;

		}
		//playn go
		.logo2 {
			background: no-repeat url("jpv-char-728x90.png") -148px 0 ;
			width: 88px;
			height: 23px;
			background-size: 355px 90px;

		}
		//netent
		.logo3 {
			background: no-repeat url("jpv-char-728x90.png") -272px 0 ;
			width: 124px;
			height: 45px;
			background-size: 355px 90px;

		}
	}
}
.fr-f4 {
	&-slide {
		height: 1500px;
		width: 1500px;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		@include opacityFix(100, 1);
		transform: rotate(45deg);


		&-cube {
			background-color: $acc2-color;
			position: absolute;
			height: 1500px;
			width: 1500px;
			left: -950px;
			@include opacityFix(0, 0);
		}

	}
	&-bg {
		background: #EDBC58 repeat-y url("jpv-bg2-728x90.jpg") top right;
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		background-size:  728px $banHeight ;
		top: 0;
		left: 0;
	}
	&-toon {
		background: no-repeat url("jpv-char-728x90.png") 0 0;
		background-size: 250px 90px;
		width: 75px;
		height: 90px;
		position: absolute;
		top:0;
		left: -10px;
		margin: 0 0 0 0;
		display: block;
	}
	&-lines {
		&-l1{
			top: $fr4line1Top;
		}
		&-l2{
			padding: 5px 0;
			text-shadow: $acc3-color 0 0 5px;
			top: $fr4line2Top;
		}
		&-l3{
			top: $fr4line3Top;
		}
	}
	&-terms{}
}

.cta-btn {
	font-size: 20px;
	max-width: 160px;
	border-radius: 50px;
	padding: 5px 0;
	bottom: 25px;
	left: 535px;
	position: absolute;
	margin: 0 0 !important;
}

.fr {

	&-f1, &-f2, &-f3, &-f4 {
		overflow: hidden;
		&-terms{
			display: block;
			font-size: 10px;
			color: $acc3-color;
			position: absolute;
			bottom: 0;
			left: auto;
			right: 38px;
			margin: 0 0;
			align-items: center;
			height: 20px;
			width: 150px;
			text-align: center;
		}
	}
}

