<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>

<div id="ad" class="dbs-{{htmlWebpackPlugin.options.bannerSizes}}">
        <!--    <button id="clickthrough-button" class="btn-overlay"></button>-->
    <div id="wz-banner" class="wz-banner" style="display:none">
	  <div class="coin-fall"></div>
	  <div class="fr fr-f1">
		<div class="fr-f1-lines">
		    <div class="fr-f1-lines-l1 h2">Register <br>and get </div>
		    <div class="fr-f1-lines-l2 h1 bold">10 Free <br>Spins</div>
		    <div class="fr-f1-lines-l3 h4">No Deposit<br> Required</div>
		</div>
		<a href="#" target="_blank" class="cta-btn">Register Now</a>
		<div class="fr-f1-terms">18+, Terms Apply</div>
	  </div>
	  <div class="fr fr-f2">
		<div class="fr-f2-slide">
		    <div class="fr-f2-slide-cube"></div>
		</div>
		<div class="fr-f2-bg"></div>
		<div class="fr-f2-toon"></div>
		<div class="fr-f2-lines">
		    <div class="fr-f2-lines-l1 h2">Bet 200Kr</div>
		    <div class="fr-f2-lines-l2 h1 bold">Get 300Kr</div>
		    <div class="fr-f2-lines-l3 h2">Plus 30 <br>Free Spins</div>
		</div>
		<a href="#" target="_blank" class="cta-btn">Play Now</a>
		<div class="fr-f2-terms">18+, Terms Apply</div>
	  </div>
	  <div class="fr fr-f3">
		<div class="fr-f3-lines">
		    <div class="fr-f3-lines-l1 h4">Choose from</div>
		    <div class="fr-f3-lines-l2 h1 bold">1200+</div>
		    <div class="fr-f3-lines-l3 h3">slots and <br>games</div>
		</div>
		<div class="fr-f3-providers">
		    <div class="logo1"></div>
		    <div class="logo2"></div>
		    <div class="logo3"></div>
		</div>
		<a href="#" target="_blank" class="cta-btn">Join Now</a>
		<div class="fr-f3-terms">18+, Terms Apply</div>
	  </div>
	  <div class="fr fr-f4">
		<div class="fr-f4-lines">
		    <div class="fr-f4-lines-l1 h2">Join over</div>
		    <div class="fr-f4-lines-l2 h2 bold">1,000,000</div>
		    <div class="fr-f4-lines-l3 h2">players</div>
		</div>
		<a href="#" target="_blank" class="cta-btn">Register Now</a>
		<div class="fr-f4-terms">18+, Terms Apply</div>
	  </div>
	  <!-- alternative DIV for IE fix -->
	  <div class="fr-logo"></div>
    </div>
</div>

<div class="ad-overlay dbs-{{htmlWebpackPlugin.options.bannerSizes}}">
    <div class="replay-btn">
	  <img src="~@images/replay.svg" alt="replay">
    </div>
</div>


</body>
</html>