<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>

<div id="ad" class="dbs-{{htmlWebpackPlugin.options.bannerSizes}}">
    <!--    <button id="clickthrough-button" class="btn-overlay"></button>-->
    <div id="wz-banner" class="wz-banner" style="display:none">
        <div class="coin-fall"></div>
        <div class="fr fr-f1">
            <div class="fr-f1-bg"></div>
            <div class="fr-f1-lines">
                <div class="fr-f1-lines-l1 h4 bold txt-shade">Talleta 20€</div>
                <div class="fr-f1-lines-l2 h3 bold txt-shade">saat 20€ bonuksen</div>
                <div class="fr-f1-lines-l3 h4 bold txt-shade">plus 30 ilmaiskierrosta.</div>
            </div>
            <a href="#" target="_blank" class="cta-btn">Rekisteröidy nyt</a>
            <div class="fr-f1-terms">18+. Vain uusille pelaajille.<br>Ehdot voimassa. Pelaathan vastuullisesti.</div>
        </div>
        <div class="fr fr-f2">
            <div class="fr-f2-slide">
                <div class="fr-f2-slide-cube"></div>
            </div>
            <div class="fr-f2-bg"></div>
            <div class="fr-f2-toon"></div>
            <div class="fr-f2-lines">
                <div class="fr-f2-lines-l1 h4 bold">Liity yli</div>
                <div class="fr-f2-lines-l2 h2 bold">1000000</div>
                <div class="fr-f2-lines-l3 h4h bold">pelaajan joukkoon</div>
            </div>
            <div class="fr-f2-providers">
                <div class="logo1"></div>
                <div class="logo2"></div>
                <div class="logo3"></div>
            </div>
            <a href="#" target="_blank" class="cta-btn">Pelaa nyt</a>
            <div class="fr-f2-terms">18+. Vain uusille pelaajille.<br>Ehdot voimassa. Pelaathan vastuullisesti.</div>
        </div>
        <!-- alternative DIV for IE fix -->
        <div class="fr-logo"></div>
    </div>
</div>

<div class="ad-overlay dbs-{{htmlWebpackPlugin.options.bannerSizes}}">
    <div class="replay-btn">
        <img src="~@images/replay.svg" alt="replay">
    </div>
</div>


</body>
</html>