@import "@project/styles/global.scss";

$banWidth: 250px;
$banHeight: 250px;

$ctaPosBot: 35px;

$fr1line1Top:85px;
$fr1line2Top:110px;
$fr1line3Top:145px;

$fr2line1Top:75px;
$fr2line2Top:95px;
$fr2line3Top:135px;



.wz-banner {
	background-size:  600px 250px ;
	background:  repeat-y url("jpv-bg-300x250.jpg") 0 0;
}

.coin-fall {
	background-size:  300px 250px ;
	background:  repeat-y url("jpv-coin-300x250.svg") 0 0;
	position: absolute;
	z-index: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.fr-f1 {
	&-bg {
		display: block;
		position: absolute;
		//background-size:  320px 300px ;
		//background: $acc1-color repeat-y url("jpv-bg-300x250.jpg") 0 0;
		top: 0;
		left: 0;
		z-index: 0;
		width:300px ;
		height: 300px;
	}
	&-lines {
		&-l1{
			z-index: 3;
			top: $fr1line1Top;
		}
		&-l2{
			z-index: 4;
			padding: 5px 0;

			top: $fr1line2Top;
		}
		&-l3{
			z-index: 5;
			@extend %center;
			top: $fr1line3Top;
		}
	}

}
.fr-f2 {
	&-slide {
		height: 1200px;
		width: 1200px;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		@include opacityFix(100, 1);
		transform: rotate(45deg);


		&-cube {
			background-color: $acc2-color;
			position: absolute;
			height: 1200px;
			width: 1200px;
			left: -850px;
			@include opacityFix(0, 0);
		}

	}
	&-bg {
		background: #EDBC58 repeat-y url("jpv-bg-300x250.jpg") top right;
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		background-size:  600px $banHeight ;
		top: 0;
		left: 0;
	}
	&-toon {
		background: no-repeat url("jpv-char-300x250.png") bottom center;
		background-size: cover;
		width: 101px;
		height: 175px;
		position: absolute;
		left: -10px;
		bottom: 0;
		display: block;
	}
	&-lines {
		&-l1{
			top: $fr2line1Top;
		}
		&-l2{
			padding: 5px 0;
			top: $fr2line2Top;
		}
		&-l3{
			top: $fr2line3Top;
		}
	}
	&-providers {
		transform: scale(0.8);
		position: absolute;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		bottom: 65px;
		.logo1, .logo2, .logo3 {
			display: flex;
		}
		.logo1 {
			background: no-repeat url("jpv-char-300x250.png") 0 0;
			width: 83px;
			height: 24px;
			background-size: 101px 250px;

		}
		.logo2 {
			background: no-repeat url("jpv-char-300x250.png") 0 -23px;
			width: 93px;
			height: 23px;
			background-size: 101px 250px;

		}
		.logo3 {
			background: no-repeat url("jpv-char-300x250.png") 0 -47px;
			width: 90px;
			height: 28px;
			background-size: 101px 250px;

		}
	}
	&-terms{}
}


.cta-btn {
	font-size: 17px;
	max-width: 180px;
	border-radius: 50px;
	padding: 3px 0;
	bottom: $ctaPosBot;
}


.fr {
	&-f1, &-f2, &-f3, &-f4 {

		&-terms{
			display: block;
			font-size: 10px;
			color: $acc3-color;
			position: absolute;
			bottom: 2px;
			left: 0;
			right: 0;
			margin: 0 auto;
			align-items: center;
			height: auto;
			text-align: center;
			font-weight: normal;
		}
	}
}