@import "@project/styles/global.scss";

$banHeight: 90px;

$ctaPosBot: 30px;

$fr1line1Top:10px;
$fr1line2Top:35px;
$fr1line3Top:63px;

$fr2line1Top:8px;
$fr2line2Top:35px;
$fr2line3Top:68px;



.fr-logo {
	display: block;
	width: 100px;
	position: absolute;
	background: no-repeat url("~@images/jpv-logo.svg") center center;
	height: 65px;
	top: 9px;
	left: 10px;
	background-size: contain;
}

.wz-banner {
	background-size:  468px 180px ;
	background:  repeat-y url("jpv-bg2-468x90.jpg") 0 90px;
}

.coin-fall {
	background-size:  468px 90px ;
	background:  repeat-y url("jpv-coin-468x90.svg") 0 0;
	position: absolute;
	z-index: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}




.fr-f1 {


	&-lines {
		width: 214px;
		left: 112px;

		&-l1{
			z-index: 3;
			top: $fr1line1Top;
			margin: 0 0;
		}
		&-l2{
			z-index: 4;
			padding: 5px 0;

			top: $fr1line2Top;
		}
		&-l3{
			z-index: 5;
			top: $fr1line3Top;
			margin: 0 0;
		}
	}

}
.fr-f2 {
	&-slide {
		height: 1500px;
		width: 1500px;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		@include opacityFix(100, 1);
		transform: rotate(45deg);


		&-cube {
			background-color: $acc2-color;
			position: absolute;
			height: 1500px;
			width: 1500px;
			left: -950px;
			@include opacityFix(0, 0);
		}

	}
	&-bg {
		background: #EDBC58 repeat-y url("jpv-bg2-468x90.jpg") top right;
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		background-size:  468px 180px ;
		top: 0;
		left: 0;
	}
	&-toon {
		background: no-repeat url("jpv-char-468x90.png") 0 0;
		background-size: cover;
		width: 149px;
		height: 90px;
		position: absolute;
		top:0;
		left: -55px;
		margin: 0 0 0 0;
		display: block;
	}
	&-lines {
		width: 240px;
		left: 97px;

		&-l1{
			top: $fr2line1Top;


		}
		&-l2{

			top: $fr2line2Top;


		}
		&-l3{
			top: $fr2line3Top;



		}
	}
	&-terms{}
}


.cta-btn {
	font-size: 16px;
	max-width: 130px;
	border-radius: 50px;
	padding: 3px 3px;
	bottom: 30px;
	left: auto;
	right: 5px;
	position: absolute;
	margin: 0 0 !important;
}


.fr {
	&-f1, &-f2, &-f3, &-f4 {
		&-terms{
			display: block;
			font-size: 9px;
			color: $acc3-color;
			position: absolute;
			bottom: 2px;
			width: 150px;
			margin: 0 0;
			right: 5px !important;
			align-items: center;
			height: auto;
			text-align: center;
			font-weight: normal;
			left: auto;
			text-shadow: black 0 0 2px ;
		}
	}
}